USE [master]
GO
/****** Object:  Database [dbPreOlimpiada]    Script Date: 22/05/2018 18:00:32 ******/
CREATE DATABASE [dbPreOlimpiada]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbPreOlimpiada', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\dbPreOlimpiada.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbPreOlimpiada_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\dbPreOlimpiada_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbPreOlimpiada].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbPreOlimpiada]
GO
USE [dbPreOlimpiada]
GO
/****** Object:  User [edu]    Script Date: 22/05/2018 18:00:32 ******/
CREATE USER [edu] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[tbAnio]    Script Date: 22/05/2018 18:00:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAnio](
	[idAnio] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idAnio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbApoderado]    Script Date: 22/05/2018 18:00:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbApoderado](
	[idApoderado] [int] IDENTITY(1,1) NOT NULL,
	[idAnio] [int] NULL,
	[idDisciplina] [int] NULL,
	[dni] [varchar](8) NOT NULL,
	[apePaterno] [varchar](100) NULL,
	[apeMaterno] [varchar](100) NULL,
	[nombres] [varchar](100) NULL,
	[estado] [char](1) NULL,
	[idEquipo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idApoderado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbDelegado]    Script Date: 22/05/2018 18:00:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDelegado](
	[idDelegado] [int] IDENTITY(1,1) NOT NULL,
	[idApoderado] [int] NULL,
	[descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDelegado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbDisciplina]    Script Date: 22/05/2018 18:00:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDisciplina](
	[idDisciplina] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDisciplina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbEquipo]    Script Date: 22/05/2018 18:00:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbEquipo](
	[idEquipo] [int] IDENTITY(1,1) NOT NULL,
	[nroEquipo] [int] NULL,
	[nombreEquipo] [varchar](100) NULL,
	[detalle] [varchar](200) NULL,
	[estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[idEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPartidoTenisMesa]    Script Date: 22/05/2018 18:00:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPartidoTenisMesa](
	[idPartidoTenisMesa] [int] IDENTITY(1,1) NOT NULL,
	[idApoderado] [int] NULL,
	[idEquipoLocal] [int] NULL,
	[idEquipoVisitante] [int] NULL,
	[ronda] [int] NULL,
	[estadoPartido] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPartidoTenisMesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSerie]    Script Date: 22/05/2018 18:00:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSerie](
	[idSerie] [int] IDENTITY(1,1) NOT NULL,
	[idAnio] [int] NULL,
	[descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSerie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSetPartidoTenisMesa]    Script Date: 22/05/2018 18:00:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSetPartidoTenisMesa](
	[idSetPartido] [int] IDENTITY(1,1) NOT NULL,
	[idPartidoTenisMesa] [int] NULL,
	[numeroSet] [int] NULL,
	[PuntajeLocalSet] [int] NULL,
	[PuntajeVisitanteSet] [int] NULL,
	[Ganador] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSetPartido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUsuario]    Script Date: 22/05/2018 18:00:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUsuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[idApoderado] [int] NULL,
	[nombUsuario] [varchar](100) NULL,
	[passUsuario] [varchar](6) NULL,
	[estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbApoderado]  WITH CHECK ADD FOREIGN KEY([idAnio])
REFERENCES [dbo].[tbAnio] ([idAnio])
GO
ALTER TABLE [dbo].[tbApoderado]  WITH CHECK ADD FOREIGN KEY([idDisciplina])
REFERENCES [dbo].[tbDisciplina] ([idDisciplina])
GO
ALTER TABLE [dbo].[tbApoderado]  WITH CHECK ADD FOREIGN KEY([idEquipo])
REFERENCES [dbo].[tbEquipo] ([idEquipo])
GO
ALTER TABLE [dbo].[tbDelegado]  WITH CHECK ADD FOREIGN KEY([idApoderado])
REFERENCES [dbo].[tbApoderado] ([idApoderado])
GO
ALTER TABLE [dbo].[tbPartidoTenisMesa]  WITH CHECK ADD FOREIGN KEY([idApoderado])
REFERENCES [dbo].[tbApoderado] ([idApoderado])
GO
ALTER TABLE [dbo].[tbPartidoTenisMesa]  WITH CHECK ADD FOREIGN KEY([idEquipoLocal])
REFERENCES [dbo].[tbEquipo] ([idEquipo])
GO
ALTER TABLE [dbo].[tbPartidoTenisMesa]  WITH CHECK ADD FOREIGN KEY([idEquipoVisitante])
REFERENCES [dbo].[tbEquipo] ([idEquipo])
GO
ALTER TABLE [dbo].[tbSerie]  WITH CHECK ADD FOREIGN KEY([idAnio])
REFERENCES [dbo].[tbAnio] ([idAnio])
GO
ALTER TABLE [dbo].[tbSetPartidoTenisMesa]  WITH CHECK ADD FOREIGN KEY([idPartidoTenisMesa])
REFERENCES [dbo].[tbPartidoTenisMesa] ([idPartidoTenisMesa])
GO
ALTER TABLE [dbo].[tbUsuario]  WITH CHECK ADD FOREIGN KEY([idApoderado])
REFERENCES [dbo].[tbApoderado] ([idApoderado])
GO
USE [master]
GO
